[submodule "ansible/dmdirc-roles"]
	path = ansible/dmdirc-roles
	url = https://github.com/DMDirc/ansible-roles.git
	branch = master
[submodule "ansible/thirdparty-roles/nexus"]
	path = ansible/thirdparty-roles/nexus
	url = https://github.com/greboid/ansible-sonatype-nexus.git
	branch = master
