<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config xmlns="http://artifactory.jfrog.org/xsd/1.5.6" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.jfrog.org/xsd/artifactory-v1_5_6.xsd">
    <offlineMode>false</offlineMode>
    <fileUploadMaxSizeMb>100</fileUploadMaxSizeMb>
    <dateFormat>dd-MM-yy HH:mm:ss z</dateFormat>
    <addons>
        <showAddonsInfo>false</showAddonsInfo>
        <showAddonsInfoCookie>1416599079125</showAddonsInfoCookie>
    </addons>
    <mailServer>
        <enabled>false</enabled>
        <host>localhost</host>
        <port>25</port>
        <from>artifactory@dmdirc.com</from>
        <subjectPrefix>[Artifactory]</subjectPrefix>
        <tls>false</tls>
        <ssl>false</ssl>
    </mailServer>
    <security>
        <anonAccessEnabled>true</anonAccessEnabled>
        <hideUnauthorizedResources>false</hideUnauthorizedResources>
        <passwordSettings>
            <encryptionPolicy>supported</encryptionPolicy>
        </passwordSettings>
        <ldapSettings/>
        <ldapGroupSettings/>
    </security>
    <backups>
        <backup>
            <key>backup-daily</key>
            <enabled>true</enabled>
            <cronExp>0 0 2 ? * MON-FRI</cronExp>
            <retentionPeriodHours>0</retentionPeriodHours>
            <createArchive>false</createArchive>
            <excludedRepositories/>
            <sendMailOnError>true</sendMailOnError>
            <excludeBuilds>false</excludeBuilds>
        </backup>
        <backup>
            <key>backup-weekly</key>
            <enabled>false</enabled>
            <cronExp>0 0 2 ? * SAT</cronExp>
            <retentionPeriodHours>336</retentionPeriodHours>
            <createArchive>false</createArchive>
            <excludedRepositories/>
            <sendMailOnError>true</sendMailOnError>
            <excludeBuilds>false</excludeBuilds>
        </backup>
    </backups>
    <indexer>
        <enabled>false</enabled>
        <cronExp>0 23 5 * * ?</cronExp>
        <excludedRepositories/>
    </indexer>
    <localRepositories>
        <localRepository>
            <key>client-snapshot</key>
            <description>Latest client CI snapshot</description>
            <includesPattern>**/*</includesPattern>
            <repoLayoutRef>maven-2-default</repoLayoutRef>
            <enableNuGetSupport>false</enableNuGetSupport>
            <enableGemsSupport>false</enableGemsSupport>
            <enableNpmSupport>false</enableNpmSupport>
            <enableDebianSupport>false</enableDebianSupport>
            <enablePypiSupport>false</enablePypiSupport>
            <enableDockerSupport>false</enableDockerSupport>
            <blackedOut>false</blackedOut>
            <handleReleases>false</handleReleases>
            <handleSnapshots>true</handleSnapshots>
            <maxUniqueSnapshots>0</maxUniqueSnapshots>
            <suppressPomConsistencyChecks>false</suppressPomConsistencyChecks>
            <propertySets/>
            <archiveBrowsingEnabled>false</archiveBrowsingEnabled>
            <snapshotVersionBehavior>unique</snapshotVersionBehavior>
            <localRepoChecksumPolicyType>client-checksums</localRepoChecksumPolicyType>
            <calculateYumMetadata>false</calculateYumMetadata>
            <yumRootDepth>0</yumRootDepth>
            <debianTrivialLayout>false</debianTrivialLayout>
        </localRepository>
        <localRepository>
            <key>plugins-snapshot</key>
            <description>Latest plugins CI snapshots</description>
            <includesPattern>**/*</includesPattern>
            <repoLayoutRef>maven-2-default</repoLayoutRef>
            <enableNuGetSupport>false</enableNuGetSupport>
            <enableGemsSupport>false</enableGemsSupport>
            <enableNpmSupport>false</enableNpmSupport>
            <enableDebianSupport>false</enableDebianSupport>
            <enablePypiSupport>false</enablePypiSupport>
            <enableDockerSupport>false</enableDockerSupport>
            <blackedOut>false</blackedOut>
            <handleReleases>false</handleReleases>
            <handleSnapshots>true</handleSnapshots>
            <maxUniqueSnapshots>0</maxUniqueSnapshots>
            <suppressPomConsistencyChecks>false</suppressPomConsistencyChecks>
            <propertySets/>
            <archiveBrowsingEnabled>false</archiveBrowsingEnabled>
            <snapshotVersionBehavior>unique</snapshotVersionBehavior>
            <localRepoChecksumPolicyType>client-checksums</localRepoChecksumPolicyType>
            <calculateYumMetadata>false</calculateYumMetadata>
            <yumRootDepth>0</yumRootDepth>
            <debianTrivialLayout>false</debianTrivialLayout>
        </localRepository>
        <localRepository>
            <key>parser-snapshot</key>
            <description>Latest CI parser snapshot</description>
            <includesPattern>**/*</includesPattern>
            <repoLayoutRef>maven-2-default</repoLayoutRef>
            <enableNuGetSupport>false</enableNuGetSupport>
            <enableGemsSupport>false</enableGemsSupport>
            <enableNpmSupport>false</enableNpmSupport>
            <enableDebianSupport>false</enableDebianSupport>
            <enablePypiSupport>false</enablePypiSupport>
            <enableDockerSupport>false</enableDockerSupport>
            <blackedOut>false</blackedOut>
            <handleReleases>false</handleReleases>
            <handleSnapshots>true</handleSnapshots>
            <maxUniqueSnapshots>0</maxUniqueSnapshots>
            <suppressPomConsistencyChecks>false</suppressPomConsistencyChecks>
            <propertySets/>
            <archiveBrowsingEnabled>false</archiveBrowsingEnabled>
            <snapshotVersionBehavior>unique</snapshotVersionBehavior>
            <localRepoChecksumPolicyType>client-checksums</localRepoChecksumPolicyType>
            <calculateYumMetadata>false</calculateYumMetadata>
            <yumRootDepth>0</yumRootDepth>
            <debianTrivialLayout>false</debianTrivialLayout>
        </localRepository>
        <localRepository>
            <key>utils-snapshot</key>
            <description>Latest utils CI snapshot</description>
            <includesPattern>**/*</includesPattern>
            <repoLayoutRef>maven-2-default</repoLayoutRef>
            <enableNuGetSupport>false</enableNuGetSupport>
            <enableGemsSupport>false</enableGemsSupport>
            <enableNpmSupport>false</enableNpmSupport>
            <enableDebianSupport>false</enableDebianSupport>
            <enablePypiSupport>false</enablePypiSupport>
            <enableDockerSupport>false</enableDockerSupport>
            <blackedOut>false</blackedOut>
            <handleReleases>false</handleReleases>
            <handleSnapshots>true</handleSnapshots>
            <maxUniqueSnapshots>0</maxUniqueSnapshots>
            <suppressPomConsistencyChecks>false</suppressPomConsistencyChecks>
            <propertySets/>
            <archiveBrowsingEnabled>false</archiveBrowsingEnabled>
            <snapshotVersionBehavior>unique</snapshotVersionBehavior>
            <localRepoChecksumPolicyType>client-checksums</localRepoChecksumPolicyType>
            <calculateYumMetadata>false</calculateYumMetadata>
            <yumRootDepth>0</yumRootDepth>
            <debianTrivialLayout>false</debianTrivialLayout>
        </localRepository>
        <localRepository>
            <key>client-nightly</key>
            <description>Latest client nightly</description>
            <includesPattern>**/*</includesPattern>
            <repoLayoutRef>maven-2-default</repoLayoutRef>
            <enableNuGetSupport>false</enableNuGetSupport>
            <enableGemsSupport>false</enableGemsSupport>
            <enableNpmSupport>false</enableNpmSupport>
            <enableDebianSupport>false</enableDebianSupport>
            <enablePypiSupport>false</enablePypiSupport>
            <enableDockerSupport>false</enableDockerSupport>
            <blackedOut>false</blackedOut>
            <handleReleases>false</handleReleases>
            <handleSnapshots>true</handleSnapshots>
            <maxUniqueSnapshots>0</maxUniqueSnapshots>
            <suppressPomConsistencyChecks>false</suppressPomConsistencyChecks>
            <propertySets/>
            <archiveBrowsingEnabled>false</archiveBrowsingEnabled>
            <snapshotVersionBehavior>unique</snapshotVersionBehavior>
            <localRepoChecksumPolicyType>client-checksums</localRepoChecksumPolicyType>
            <calculateYumMetadata>false</calculateYumMetadata>
            <yumRootDepth>0</yumRootDepth>
            <debianTrivialLayout>false</debianTrivialLayout>
        </localRepository>
        <localRepository>
            <key>plugins-nightly</key>
            <description>Latest plugins nightly</description>
            <includesPattern>**/*</includesPattern>
            <repoLayoutRef>maven-2-default</repoLayoutRef>
            <enableNuGetSupport>false</enableNuGetSupport>
            <enableGemsSupport>false</enableGemsSupport>
            <enableNpmSupport>false</enableNpmSupport>
            <enableDebianSupport>false</enableDebianSupport>
            <enablePypiSupport>false</enablePypiSupport>
            <enableDockerSupport>false</enableDockerSupport>
            <blackedOut>false</blackedOut>
            <handleReleases>false</handleReleases>
            <handleSnapshots>true</handleSnapshots>
            <maxUniqueSnapshots>0</maxUniqueSnapshots>
            <suppressPomConsistencyChecks>false</suppressPomConsistencyChecks>
            <propertySets/>
            <archiveBrowsingEnabled>false</archiveBrowsingEnabled>
            <snapshotVersionBehavior>unique</snapshotVersionBehavior>
            <localRepoChecksumPolicyType>client-checksums</localRepoChecksumPolicyType>
            <calculateYumMetadata>false</calculateYumMetadata>
            <yumRootDepth>0</yumRootDepth>
            <debianTrivialLayout>false</debianTrivialLayout>
        </localRepository>
        <localRepository>
            <key>parser-nightly</key>
            <description>Latest parser nightly</description>
            <includesPattern>**/*</includesPattern>
            <repoLayoutRef>maven-2-default</repoLayoutRef>
            <enableNuGetSupport>false</enableNuGetSupport>
            <enableGemsSupport>false</enableGemsSupport>
            <enableNpmSupport>false</enableNpmSupport>
            <enableDebianSupport>false</enableDebianSupport>
            <enablePypiSupport>false</enablePypiSupport>
            <enableDockerSupport>false</enableDockerSupport>
            <blackedOut>false</blackedOut>
            <handleReleases>false</handleReleases>
            <handleSnapshots>true</handleSnapshots>
            <maxUniqueSnapshots>0</maxUniqueSnapshots>
            <suppressPomConsistencyChecks>false</suppressPomConsistencyChecks>
            <propertySets/>
            <archiveBrowsingEnabled>false</archiveBrowsingEnabled>
            <snapshotVersionBehavior>unique</snapshotVersionBehavior>
            <localRepoChecksumPolicyType>client-checksums</localRepoChecksumPolicyType>
            <calculateYumMetadata>false</calculateYumMetadata>
            <yumRootDepth>0</yumRootDepth>
            <debianTrivialLayout>false</debianTrivialLayout>
        </localRepository>
        <localRepository>
            <key>utils-nightly</key>
            <description>Latest utils nightly</description>
            <includesPattern>**/*</includesPattern>
            <repoLayoutRef>maven-2-default</repoLayoutRef>
            <enableNuGetSupport>false</enableNuGetSupport>
            <enableGemsSupport>false</enableGemsSupport>
            <enableNpmSupport>false</enableNpmSupport>
            <enableDebianSupport>false</enableDebianSupport>
            <enablePypiSupport>false</enablePypiSupport>
            <enableDockerSupport>false</enableDockerSupport>
            <blackedOut>false</blackedOut>
            <handleReleases>false</handleReleases>
            <handleSnapshots>true</handleSnapshots>
            <maxUniqueSnapshots>0</maxUniqueSnapshots>
            <suppressPomConsistencyChecks>false</suppressPomConsistencyChecks>
            <propertySets/>
            <archiveBrowsingEnabled>false</archiveBrowsingEnabled>
            <snapshotVersionBehavior>unique</snapshotVersionBehavior>
            <localRepoChecksumPolicyType>client-checksums</localRepoChecksumPolicyType>
            <calculateYumMetadata>false</calculateYumMetadata>
            <yumRootDepth>0</yumRootDepth>
            <debianTrivialLayout>false</debianTrivialLayout>
        </localRepository>
        <localRepository>
            <key>client-release</key>
            <description>Latest client release</description>
            <includesPattern>**/*</includesPattern>
            <repoLayoutRef>maven-2-default</repoLayoutRef>
            <enableNuGetSupport>false</enableNuGetSupport>
            <enableGemsSupport>false</enableGemsSupport>
            <enableNpmSupport>false</enableNpmSupport>
            <enableDebianSupport>false</enableDebianSupport>
            <enablePypiSupport>false</enablePypiSupport>
            <enableDockerSupport>false</enableDockerSupport>
            <blackedOut>false</blackedOut>
            <handleReleases>true</handleReleases>
            <handleSnapshots>false</handleSnapshots>
            <maxUniqueSnapshots>0</maxUniqueSnapshots>
            <suppressPomConsistencyChecks>false</suppressPomConsistencyChecks>
            <propertySets/>
            <archiveBrowsingEnabled>false</archiveBrowsingEnabled>
            <snapshotVersionBehavior>unique</snapshotVersionBehavior>
            <localRepoChecksumPolicyType>client-checksums</localRepoChecksumPolicyType>
            <calculateYumMetadata>false</calculateYumMetadata>
            <yumRootDepth>0</yumRootDepth>
            <debianTrivialLayout>false</debianTrivialLayout>
        </localRepository>
        <localRepository>
            <key>plugins-release</key>
            <description>Latest plugins release</description>
            <includesPattern>**/*</includesPattern>
            <repoLayoutRef>maven-2-default</repoLayoutRef>
            <enableNuGetSupport>false</enableNuGetSupport>
            <enableGemsSupport>false</enableGemsSupport>
            <enableNpmSupport>false</enableNpmSupport>
            <enableDebianSupport>false</enableDebianSupport>
            <enablePypiSupport>false</enablePypiSupport>
            <enableDockerSupport>false</enableDockerSupport>
            <blackedOut>false</blackedOut>
            <handleReleases>true</handleReleases>
            <handleSnapshots>false</handleSnapshots>
            <maxUniqueSnapshots>0</maxUniqueSnapshots>
            <suppressPomConsistencyChecks>false</suppressPomConsistencyChecks>
            <propertySets/>
            <archiveBrowsingEnabled>false</archiveBrowsingEnabled>
            <snapshotVersionBehavior>unique</snapshotVersionBehavior>
            <localRepoChecksumPolicyType>client-checksums</localRepoChecksumPolicyType>
            <calculateYumMetadata>false</calculateYumMetadata>
            <yumRootDepth>0</yumRootDepth>
            <debianTrivialLayout>false</debianTrivialLayout>
        </localRepository>
        <localRepository>
            <key>parser-release</key>
            <description>Latest parser release</description>
            <includesPattern>**/*</includesPattern>
            <repoLayoutRef>maven-2-default</repoLayoutRef>
            <enableNuGetSupport>false</enableNuGetSupport>
            <enableGemsSupport>false</enableGemsSupport>
            <enableNpmSupport>false</enableNpmSupport>
            <enableDebianSupport>false</enableDebianSupport>
            <enablePypiSupport>false</enablePypiSupport>
            <enableDockerSupport>false</enableDockerSupport>
            <blackedOut>false</blackedOut>
            <handleReleases>true</handleReleases>
            <handleSnapshots>false</handleSnapshots>
            <maxUniqueSnapshots>0</maxUniqueSnapshots>
            <suppressPomConsistencyChecks>false</suppressPomConsistencyChecks>
            <propertySets/>
            <archiveBrowsingEnabled>false</archiveBrowsingEnabled>
            <snapshotVersionBehavior>unique</snapshotVersionBehavior>
            <localRepoChecksumPolicyType>client-checksums</localRepoChecksumPolicyType>
            <calculateYumMetadata>false</calculateYumMetadata>
            <yumRootDepth>0</yumRootDepth>
            <debianTrivialLayout>false</debianTrivialLayout>
        </localRepository>
        <localRepository>
            <key>utils-release</key>
            <description>Latest utils release</description>
            <includesPattern>**/*</includesPattern>
            <repoLayoutRef>maven-2-default</repoLayoutRef>
            <enableNuGetSupport>false</enableNuGetSupport>
            <enableGemsSupport>false</enableGemsSupport>
            <enableNpmSupport>false</enableNpmSupport>
            <enableDebianSupport>false</enableDebianSupport>
            <enablePypiSupport>false</enablePypiSupport>
            <enableDockerSupport>false</enableDockerSupport>
            <blackedOut>false</blackedOut>
            <handleReleases>true</handleReleases>
            <handleSnapshots>false</handleSnapshots>
            <maxUniqueSnapshots>0</maxUniqueSnapshots>
            <suppressPomConsistencyChecks>false</suppressPomConsistencyChecks>
            <propertySets/>
            <archiveBrowsingEnabled>false</archiveBrowsingEnabled>
            <snapshotVersionBehavior>unique</snapshotVersionBehavior>
            <localRepoChecksumPolicyType>client-checksums</localRepoChecksumPolicyType>
            <calculateYumMetadata>false</calculateYumMetadata>
            <yumRootDepth>0</yumRootDepth>
            <debianTrivialLayout>false</debianTrivialLayout>
        </localRepository>
        <localRepository>
            <key>third-party</key>
            <description>Official third party requirements</description>
            <includesPattern>**/*</includesPattern>
            <repoLayoutRef>maven-2-default</repoLayoutRef>
            <enableNuGetSupport>false</enableNuGetSupport>
            <enableGemsSupport>false</enableGemsSupport>
            <enableNpmSupport>false</enableNpmSupport>
            <enableDebianSupport>false</enableDebianSupport>
            <enablePypiSupport>false</enablePypiSupport>
            <enableDockerSupport>false</enableDockerSupport>
            <blackedOut>false</blackedOut>
            <handleReleases>true</handleReleases>
            <handleSnapshots>false</handleSnapshots>
            <maxUniqueSnapshots>0</maxUniqueSnapshots>
            <suppressPomConsistencyChecks>false</suppressPomConsistencyChecks>
            <propertySets/>
            <archiveBrowsingEnabled>false</archiveBrowsingEnabled>
            <snapshotVersionBehavior>unique</snapshotVersionBehavior>
            <localRepoChecksumPolicyType>client-checksums</localRepoChecksumPolicyType>
            <calculateYumMetadata>false</calculateYumMetadata>
            <yumRootDepth>0</yumRootDepth>
            <debianTrivialLayout>false</debianTrivialLayout>
        </localRepository>
    </localRepositories>
    <remoteRepositories/>
    <virtualRepositories>
        <virtualRepository>
            <key>snapshot</key>
            <description>Latest CI snapshots</description>
            <includesPattern>**/*</includesPattern>
            <repoLayoutRef>maven-2-default</repoLayoutRef>
            <enableNuGetSupport>false</enableNuGetSupport>
            <enableGemsSupport>false</enableGemsSupport>
            <enableNpmSupport>false</enableNpmSupport>
            <enableDebianSupport>false</enableDebianSupport>
            <enablePypiSupport>false</enablePypiSupport>
            <enableDockerSupport>false</enableDockerSupport>
            <artifactoryRequestsCanRetrieveRemoteArtifacts>false</artifactoryRequestsCanRetrieveRemoteArtifacts>
            <repositories>
                <repositoryRef>utils-snapshot</repositoryRef>
                <repositoryRef>parser-snapshot</repositoryRef>
                <repositoryRef>client-snapshot</repositoryRef>
                <repositoryRef>plugins-snapshot</repositoryRef>
            </repositories>
            <pomRepositoryReferencesCleanupPolicy>discard_active_reference</pomRepositoryReferencesCleanupPolicy>
        </virtualRepository>
        <virtualRepository>
            <key>nightly</key>
            <description>Latest nightly releases</description>
            <includesPattern>**/*</includesPattern>
            <repoLayoutRef>maven-2-default</repoLayoutRef>
            <enableNuGetSupport>false</enableNuGetSupport>
            <enableGemsSupport>false</enableGemsSupport>
            <enableNpmSupport>false</enableNpmSupport>
            <enableDebianSupport>false</enableDebianSupport>
            <enablePypiSupport>false</enablePypiSupport>
            <enableDockerSupport>false</enableDockerSupport>
            <artifactoryRequestsCanRetrieveRemoteArtifacts>false</artifactoryRequestsCanRetrieveRemoteArtifacts>
            <repositories>
                <repositoryRef>client-nightly</repositoryRef>
                <repositoryRef>plugins-nightly</repositoryRef>
                <repositoryRef>parser-nightly</repositoryRef>
                <repositoryRef>utils-nightly</repositoryRef>
            </repositories>
            <pomRepositoryReferencesCleanupPolicy>discard_active_reference</pomRepositoryReferencesCleanupPolicy>
        </virtualRepository>
        <virtualRepository>
            <key>release</key>
            <description>Latest release</description>
            <includesPattern>**/*</includesPattern>
            <repoLayoutRef>maven-2-default</repoLayoutRef>
            <enableNuGetSupport>false</enableNuGetSupport>
            <enableGemsSupport>false</enableGemsSupport>
            <enableNpmSupport>false</enableNpmSupport>
            <enableDebianSupport>false</enableDebianSupport>
            <enablePypiSupport>false</enablePypiSupport>
            <enableDockerSupport>false</enableDockerSupport>
            <artifactoryRequestsCanRetrieveRemoteArtifacts>false</artifactoryRequestsCanRetrieveRemoteArtifacts>
            <repositories>
                <repositoryRef>client-release</repositoryRef>
                <repositoryRef>plugins-release</repositoryRef>
                <repositoryRef>parser-release</repositoryRef>
                <repositoryRef>utils-release</repositoryRef>
            </repositories>
            <pomRepositoryReferencesCleanupPolicy>discard_active_reference</pomRepositoryReferencesCleanupPolicy>
        </virtualRepository>
    </virtualRepositories>
    <proxies/>
    <propertySets/>
    <repoLayouts>
        <repoLayout>
            <name>maven-2-default</name>
            <artifactPathPattern>[orgPath]/[module]/[baseRev](-[folderItegRev])/[module]-[baseRev](-[fileItegRev])(-[classifier]).[ext]</artifactPathPattern>
            <distinctiveDescriptorPathPattern>true</distinctiveDescriptorPathPattern>
            <descriptorPathPattern>[orgPath]/[module]/[baseRev](-[folderItegRev])/[module]-[baseRev](-[fileItegRev])(-[classifier]).pom</descriptorPathPattern>
            <folderIntegrationRevisionRegExp>SNAPSHOT</folderIntegrationRevisionRegExp>
            <fileIntegrationRevisionRegExp>SNAPSHOT|(?:(?:[0-9]{8}.[0-9]{6})-(?:[0-9]+))</fileIntegrationRevisionRegExp>
        </repoLayout>
        <repoLayout>
            <name>ivy-default</name>
            <artifactPathPattern>[org]/[module]/[baseRev](-[folderItegRev])/[type]s/[module](-[classifier])-[baseRev](-[fileItegRev]).[ext]</artifactPathPattern>
            <distinctiveDescriptorPathPattern>true</distinctiveDescriptorPathPattern>
            <descriptorPathPattern>[org]/[module]/[baseRev](-[folderItegRev])/[type]s/ivy-[baseRev](-[fileItegRev]).xml</descriptorPathPattern>
            <folderIntegrationRevisionRegExp>\d{14}</folderIntegrationRevisionRegExp>
            <fileIntegrationRevisionRegExp>\d{14}</fileIntegrationRevisionRegExp>
        </repoLayout>
        <repoLayout>
            <name>gradle-default</name>
            <artifactPathPattern>[org]/[module]/[baseRev](-[folderItegRev])/[module]-[baseRev](-[fileItegRev])(-[classifier]).[ext]</artifactPathPattern>
            <distinctiveDescriptorPathPattern>true</distinctiveDescriptorPathPattern>
            <descriptorPathPattern>[org]/[module]/ivy-[baseRev](-[fileItegRev]).xml</descriptorPathPattern>
            <folderIntegrationRevisionRegExp>\d{14}</folderIntegrationRevisionRegExp>
            <fileIntegrationRevisionRegExp>\d{14}</fileIntegrationRevisionRegExp>
        </repoLayout>
        <repoLayout>
            <name>maven-1-default</name>
            <artifactPathPattern>[org]/[type]s/[module]-[baseRev](-[fileItegRev])(-[classifier]).[ext]</artifactPathPattern>
            <distinctiveDescriptorPathPattern>true</distinctiveDescriptorPathPattern>
            <descriptorPathPattern>[org]/[type]s/[module]-[baseRev](-[fileItegRev]).pom</descriptorPathPattern>
            <folderIntegrationRevisionRegExp>.+</folderIntegrationRevisionRegExp>
            <fileIntegrationRevisionRegExp>.+</fileIntegrationRevisionRegExp>
        </repoLayout>
    </repoLayouts>
    <remoteReplications/>
    <localReplications/>
    <gcConfig>
        <cronExp>0 0 /4 * * ?</cronExp>
    </gcConfig>
    <cleanupConfig>
        <cronExp>0 12 5 * * ?</cronExp>
    </cleanupConfig>
    <virtualCacheCleanupConfig>
        <cronExp>0 12 0 * * ?</cronExp>
    </virtualCacheCleanupConfig>
</config>

